.orders-page{
    padding:30px;
    background:6495ED;
    min-height:100vh;
}

.orders-header{
  display:flex;
  justify-content:space-between;
  align-items:center;
  margin-bottom:30px;
}

.orders-header h1{
    font-size:32px;
    display: flex;
    justify-content: center;
    color:#1b4332;
}

.orders-header button{
    padding:12px 20px;
    border:none;
    background:#198754;
    color:#fff;
    border-radius:8px;
    cursor:pointer;
    font-size:15px;
    font-weight:600;
}

.orders-header button:hover{
    background:#146c43;
}
.search-box{
  width:320px;
  background:#fff;
  display:flex;
  align-items:center;
  gap:10px;
  padding:12px 15px;
  border:1px solid #dbe3ef;
  border-radius:10px;
}

.search-box input{
  flex:1;
  border:none;
  outline:none;
  font-size:15px;
  background:transparent;
}

.search-box svg{
  color:#64748b;
}
.orders-table{
    background:#fff;
    border-radius:12px;
    overflow:hidden;
    box-shadow:0 5px 15px rgba(0,0,0,.08);
}

table{
    width:100%;
    border-collapse:collapse;
}

thead{
    background:#1e293b;
    color:#fff;
}

thead th{
    padding:16px;
    text-align:left;
    font-size:15px;
}

tbody td{
    padding:16px;
    border-bottom:1px solid #eee;
    font-size:14px;
}

tbody tr:hover{
    background:#f8fdf9;
}

.status{
    padding:6px 14px;
    border-radius:20px;
    font-size:13px;
    font-weight:600;
}

.pending{
    background:#fff4d6;
    color:#b78103;
    width: 100px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}

.processing{
    background:#d8ecff;
    color:#1565c0;
    width: 100px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}

.delivered{
    background:#d9f7e6 !important;
    color:#198754 !important;
    width: 100px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}

.cancelled{
    background:#ffe3e3;
    color:#d32f2f;
    width: 100px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}

.view-btn{
    border:none;
    background:#198754;
    color:#fff;
    padding:8px 16px;
    border-radius:6px;
    cursor:pointer;
    transition:.3s;
}

.view-btn:hover{
    background:#146c43;
}

@media(max-width:992px){

.orders-table{
    overflow-x:auto;
}

table{
    min-width:900px;
}

}

@media(max-width:600px){

.orders-page{
    padding:15px;
}

.orders-header{
    flex-direction:column;
    align-items:flex-start;
    gap:15px;
}

.orders-header h1{
    font-size:26px;
    padding-left: 30px;
}

.orders-header button{
    width:100%;
}

}